.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  margin: 0 auto;
  width: calc(100vw - 50rem);
}

.FormContainer {
  background-color: #202020;
  padding: 1rem;
  border-radius: 0.75rem;
}

.FormContainerError {
  border: 1px solid #ff7070;
  background: #221515;
}

.FormContainerError input {
  border: 1px solid #ff7070 !important;
  background: #473434;
}

.main small {
  margin-top: 1rem;
  color: #ff7070;
  font-size: 1rem;
  font-weight: 500;
}

.inputsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.inputsContainer label {
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.inputsContainer input {
  border-radius: 0.75rem;
  background: #353535;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  width: 100%;
}

.inputsContainer input:placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttonContainer button {
  border-radius: 0.75rem;
  background: #36ce7c;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: transparent;
}
