.imageContainer {
  height: 22rem;
  border: 0.5rem groove lightgray;
  border-radius: 0.5rem;
  overflow: hidden;
}

.cardUserImage {
  height: 22rem;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.cardUserImage:hover {
  transform: scale(1.1);
}
