.imageContainer {
  height: 22rem;
  border: 0.5rem groove lightgray;
  border-radius: 15px;
  overflow: hidden;
}

.cardGameImage {
  height: 22rem;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.cardGameImage:hover {
  transform: scale(1.1);
}
